@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Oufit";
    src: url("./assests/fonts/Outfit-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family:"Outfit";
    src: url("./assests/fonts/Outfit-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("./assests/fonts/Outfit-Light.ttf") format("truetype");

    font-style: normal;
    font-weight: 300;
    font-display: swap;
  }

  /* @font-face {
    font-family: "omnes";
    src: url("/fonts/OmnesLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
  } */

  @font-face {
    font-family: "Outfit";
    src: url("./assests/fonts/Outfit-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Oufit";
    src: url("./assests/fonts/Outfit-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }
  html,
  body {
    @apply font-outfit scroll-smooth;
  }

  body {
    overflow-x: hidden;
    position: relative;
    color: #fff;
    background-color: #333333;
    transition: 0.3s all;
   
  }
.skill:nth-child(even) button {
  border-color: #479FBB;
 
}
.skill:nth-child(odd) button {
  border-color: red;
 
}
.swipe-con:nth-child(even) {
  border-top-color: red;
}
/* .swiper-slide */
}

/* @layer utilities {
  .swiper-wrapper .swiper-slide div {
   background: yellow!important;
  }
  .odd-even tr:nth-child(even) {
    @apply bg-blue-500;
  }
} */

